.uh-background {
  background: url(images/Hawaii-Hall.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 250px;
}

.left-space {
  margin-right: 450px;
}

.ui.borderless.topmenu.menu {
  background: #147d30;
  box-shadow: none;
  border: none;
  padding: 25px 25px 25px 25px;
}
